.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    background-color: #fff;
    width: 80px;
    height: 80px;
    overflow: hidden;
    user-select: none;
    font-weight: bold;

    // Center the text (horizontally and vertically).
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    // Rounded corners.
    border-radius: 5px;

    // Background image.
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:not(.disabled) {
      cursor: pointer;

      &:active {
        filter: grayscale(40%);
      }
    }

    &.disabled {
      background-color: #ccc;
      filter: grayscale(80%);
    }
  }
}
