.button-list {
  height: 100%;
  width: 220px;
  display: flex;
  flex-direction: column;

  .search-wrapper {
    padding: 8px;
    display: flex;

    .create {
      margin-left: 8px;
    }
  }

  .list {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 8px;

    .entry {
      height: 50px;
      width: 100%;
      cursor: pointer;
      border: 1px solid #000;
      border-radius: $border-radius;
      margin-bottom: 2px;

      display: flex;
      align-items: center;

      background-color: #555;

      img {
        max-height: 48px;
        max-width: 48px;
        border-radius: $border-radius;
      }

      .name {
        margin-left: 8px;
      }
    }
  }
}
