.button-grid {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;

  .grid-button {
    width: calc(100% / 5);
    transition: box-shadow 0.1s;

    &:not(.disabled) {
      box-shadow: 5px 5px 5px 2px #111;

      &:active {
        box-shadow: 2px 2px 5px #111;
      }
    }
  }

  .delete {
    position: relative;
    right: 16px;

    width: 32px;
    height: 32px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    &.show {
      background-color: $red;
      cursor: pointer;

      &:hover {
        background-color: $red-dark;
      }

      &:active {
        background-color: $red-darker;
      }
    }
  }
}
