.edit-button {
  .name input {
    font-size: 1.5rem;
    height: auto;
    margin-bottom: 32px;
  }

  .columns {
    display: flex;

    > * {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  .actions {
    margin-top: 32px;
    text-align: right;
  }
}
