.edit-button {
  .name input {
    font-size: 1.5rem;
    height: auto;
    margin-bottom: 32px;
  }

  .columns {
    display: flex;
    justify-content: space-around;

    > * {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  .actions {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
  }
}
