.color-input {
  .swatch {
    cursor: pointer;
    padding: 0 8px;
    height: 30px;
    border-radius: $border-radius;
    border: 2px solid transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    &.focus {
      border-color: $focus-color;
    }
  }

  .popover {
    position: absolute;
    z-index: 2;

    * {
      // With border-box the RGB inputs clip.
      box-sizing: initial;
    }
  }
}
