.color-input {
  * {
    // With border-box the RGB inputs clip.
    box-sizing: initial;
  }

  .swatch {
    cursor: pointer;
    padding: 0 8px;
  }

  .popover {
    position: absolute;
    z-index: 2;
  }
}
