.dropdown-input {
  &.no-value,
  &:not(.clearable) {
    .input i {
      // If the dropdown has no value or is clearable,
      // the chevron should not be clickable.
      pointer-events: none;
    }
  }

  .dropdown-list {
    position: absolute;
    background-color: #181818;
    border-radius: $border-radius;
    overflow-y: scroll;
    max-height: 10rem;
    min-width: 200px;
    z-index: 2;

    .dropdown-entry {
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: $border-radius;

      &:hover,
      &:focus {
        background-color: #333333;
      }

      .preview {
        width: 32px;
        height: 32px;
        border-radius: $border-radius;
        margin: 4px;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .name {
        margin: 6px 8px;
      }
    }
  }
}
