.button {
  background-color: #FFF;
  width: 80px;
  height: 80px;
  overflow: hidden;
  user-select: none;

  // Center the text (horizontally and vertically).
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  // Rounded corners.
  border-radius: 5px;

  // Background image.
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &:not(.disabled) {
    cursor: pointer;

    &:active {
      filter: grayscale(40%);
    }
  }

  &.disabled {
    background-color: #CCC;
    filter: grayscale(80%);
  }
}
