.button-settings {
  padding: 8px;
  overflow-y: auto;
  width: 300px;

  h3 {
    margin: 0 0 8px;
  }

  .rows {
    margin-bottom: 32px;
  }

  .preview-row {
    display: flex;

    .preview {
      margin-left: 32px;
    }
  }
}
