.button-settings {
  padding: 8px;
  overflow-y: auto;
  width: 300px;

  h3 {
    margin: 0 0 8px;
  }

  .rows {
    margin-bottom: 32px;
  }

  .close-wrapper {
    text-align: right;

    i {
      margin-bottom: 8px;
    }
  }

  .preview-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  .dimmer {
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
      margin-bottom: 16px;
    }

    > div {
      background-color: #555;
      border: 1px solid #000;
      border-radius: $border-radius;
      padding: 32px;
    }
  }
}
