.button-settings {
  padding: 8px;
  overflow-y: auto;
  width: 300px;

  h3 {
    margin: 0 0 8px;
  }

  .rows {
    margin-bottom: 32px;
  }

  .preview-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
}
