.agent-settings {
  display: flex;
  flex-direction: column;
  align-items: center;

  .disconnect {
    display: flex;
    align-items: center;
    margin-top: 32px;

    &:hover {
      color: #f66;
    }

    i {
      margin-right: 8px;
    }
  }
}
