.config-page {
  display: flex;

  .properties {
    padding: 16px 32px;

    .name input {
      font-size: 1.5rem;
      height: auto;
      margin-bottom: 8px;
    }

    .actions {
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
    }
  }
}
