.connect-agent {
  display: flex;
  justify-content: center;

  .dimmer {
    justify-content: center;
    align-items: center;
    text-align: center;

    div {
      background-color: #555;
      border: 1px solid #000;
      border-radius: 4px;
      padding: 32px;

      h2 {
        margin-bottom: 0;
      }
    }
  }

  main {
    width: 320px;

    .manual-address {
      display: flex;

      input {
        flex-grow: 1;
        margin-right: 16px;
      }

      input,
      button {
        padding: 4px;
      }
    }
  }
}
