.connect-agent {
  display: flex;
  justify-content: center;

  .modal {
    text-align: center;
  }

  main {
    width: 360px;

    h2 {
      margin-top: 32px;
      margin-bottom: 32px;
    }

    h3 {
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
