.images-page {
  display: flex;

  .images-list {
    background-color: #181818;

    .hidden {
      display: none;
    }
  }

  .properties {
    margin: 16px 32px;
    display: flex;
    flex-direction: column;

    .name {
      margin-bottom: 8px;
    }

    img {
      max-width: 320px;
      max-height: 320px;
    }

    .actions {
      margin-top: 8px;
    }
  }
}
