.targets-settings {
  width: 800px;
  display: flex;

  .targets-list {
    flex-basis: 300px;
    border-right: 3px solid #333;
  }

  .target-settings {
    padding-left: 32px;
    flex-grow: 1;
  }
}
