.targets-settings {
  display: flex;
  justify-content: center;

  main {
    margin-top: 32px;
    width: 800px;
    display: flex;

    .targets-list {
      flex-basis: 300px;
      border-right: 3px solid #333;
    }

    .target-settings {
      padding-left: 32px;
      flex-grow: 1;
    }
  }
}
