* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select {
  padding: 0 4px;
  border: 2px solid transparent;
  border-radius: $border-radius;
  outline: none;
  height: 30px;

  &:focus {
    border-color: #4a92ff;
  }
}

button {
  padding: 0 8px;
  outline: none;
  height: 30px;
  min-width: 64px;
  border-radius: $border-radius;
  cursor: pointer;
  border: none;
}
