.agent-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  text-align: center;

  h3 {
    margin-bottom: 16px;
  }

  .disconnect {
    margin-top: 32px;
  }
}
