.agent-list {
  width: 100%;

  .error {
    color: #f66;
  }

  .agent {
    cursor: pointer;
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: $border-radius;
    margin-bottom: 4px;

    display: flex;
    align-items: center;

    background-color: $list-item-bg;

    &:hover {
      background-color: mix(white, $list-item-bg, 4%);
    }

    &:active {
      background-color: mix(white, $list-item-bg, 10%);
    }

    i {
      margin-right: 16px;
    }

    .details span {
      display: block;

      &.hostname {
        font-weight: bold;
      }

      &.address {
        font-size: 80%;
      }
    }
  }
}
