button.button {
  padding: 6px 10px;
  outline: none;
  border: 2px solid transparent;
  border-radius: $border-radius;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  background-color: $grey;

  &:focus {
    border-color: $focus-color;
  }

  // Compact buttons are 30px high, the same as other input elements.
  &.compact {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  &.has-text {
    i {
      margin-right: 6px;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-color: $grey-dark;
    }

    &:active {
      background-color: $grey-darker;
    }
  }

  &.positive {
    background-color: $green;
    color: #ddd;

    &:not(:disabled) {
      &:hover {
        background-color: $green-dark;
      }

      &:active {
        background-color: $green-darker;
      }
    }
  }

  &.negative {
    background-color: $red;
    color: #ddd;

    &:not(:disabled) {
      &:hover {
        background-color: $red-dark;
      }

      &:active {
        background-color: $red-darker;
      }
    }
  }
}
