.dimmer {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: transparentize(#000, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  &.active {
    display: flex;
  }
}
