.list {
  height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column;
  background-color: #181818;

  .search {
    margin: 8px;
  }

  .entries {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 8px;

    .entry {
      height: 50px;
      width: 100%;
      cursor: pointer;
      border: 1px solid #000;
      border-radius: $border-radius;
      margin-bottom: 2px;

      display: flex;
      align-items: center;

      background-color: #555;

      .preview {
        width: 48px;
        height: 48px;
        border-radius: $border-radius;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      img.preview {
        padding: 4px;
        border-radius: 0;
      }

      .name {
        margin-left: 8px;
      }
    }
  }
}
