.list {
  height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column;
  background-color: $elevation-1;

  .search {
    margin: 8px;
  }

  .button-group {
    margin-bottom: 8px;
    padding: 0 8px;
    width: 100%;

    button {
      width: 50%;
    }
  }

  > button {
    margin: 0 8px 8px 8px;
  }

  .entries {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 8px;

    .entry {
      height: 50px;
      width: 100%;
      cursor: pointer;
      border: 1px solid #000;
      border-radius: $border-radius;
      margin-bottom: 2px;

      display: flex;
      align-items: center;

      background-color: $list-item-bg;

      &:hover {
        background-color: mix(white, $list-item-bg, 4%);
      }

      &:active {
        background-color: mix(white, $list-item-bg, 10%);
      }

      .preview {
        width: 48px;
        height: 48px;
        border-radius: $border-radius;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      img.preview {
        padding: 4px;
        border-radius: 0;
      }

      .name {
        margin-left: 8px;
      }
    }
  }
}
