.menu {
  $background-color: $elevation-2;

  height: 100%;
  background-color: $background-color;
  overflow: hidden;
  flex: 0 0 auto;

  &.closed {
    width: 0;
  }

  .close {
    padding: 8px 16px;
    color: $grey;
    display: block;

    &:hover {
      color: $grey-dark;
    }

    &:active {
      color: $grey-darker;
    }

    i {
      width: 32px;
      text-align: center;
    }
  }

  .entry {
    cursor: pointer;
    padding: 8px 16px;
    display: block;

    &:hover {
      background-color: mix(white, $background-color, 4%);
    }

    &:active {
      background-color: mix(white, $background-color, 10%);
    }

    &.active {
      background-color: mix(white, $background-color, 12%);
    }

    i {
      margin-right: 12px;
      width: 32px;
      text-align: center;
    }

    h2 {
      margin: 0;
    }
  }
}
