.message {
  transition: height 0.3s;
  height: 0;

  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffcd30;
  color: #111;
  font-weight: bold;
  font-size: 1.5rem;

  &.visible {
    height: 48px;
  }
}
