.rows {
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    height: 30px;

    > :not(:last-child) {
      margin-right: 32px;
    }
  }
}
